{% extends 'core/base.html' %}

{% block content %}

<h1 class="font-bold underline text-[30px] mb-5 text-center">{{selected_project.name}}</h1>
<h1 class="text-center">{{selected_project.description}}</h1>

<div class="flex justify-between">
    <h3 class="font-bold underline text-[20px] mb-5" >{{selected_project.created_at}}</h3>
    <h3 class="font-bold underline text-[20px] mb-5">{{selected_project.created_by}}</h3>
</div>

<div class="flex justify-between">
    <div class="w-[100%] flex justify-start">
        <a style="margin-right:20px" href="{% url 'create_task' selected_project.id %}"><button class="py-4 px-8 ml-5 bg-blue-600 text-white">Create task</button></a>
        <a style="margin-right:20px" href="{% url 'tasks' selected_project.id %}"><button class="py-4 px-8 ml-5 bg-blue-600 text-white">Tasks</button></a>
        <a href="{% url 'upload_file' selected_project.id %}" class="py-4 px-8 bg-gray-600 text-white">Upload File</a>
        <a href="{% url 'projects' %}" class="py-4 px-8 bg-teal-600 text-white">Project list</a>
    </div>
    <div class="w-[100%] flex justify-end">
        <a href="{% url 'project_delete' selected_project.id %}"><button class="py-4 px-8 bg-red-600 text-white">Delete</button></a>
        <a href="{% url 'project_edit' selected_project.id %}"><button class="py-4 px-8 ml-5 bg-blue-600 text-white">Edit</button></a>
    </div>
</div>

{% endblock %}

