{% extends 'core/base.html' %}

{% block content %}
<div class="w-[90%] pl-[20%] pt-10">
    <a href="{{request.META.HTTP_REFERER|escape}}">
        <button
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
            Back
        </button>
    </a>
    <div class="flex justify-between">
        <div>
            <h1 class="font-bold text-[30px] text-black mb-5 tracking-widest">Projects</h1>
        </div>
        <div>
            <form action="{% url 'projects' %}" id="forma" method="POST">
                {% csrf_token %}
                <input value="" style="border: 1px solid black;" type="text" name="search">
                <button
                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Search
                </button>
            </form>
        </div>
    </div>

    <div class="w-[100%] h-[50px] bg-gray-900 text-white flex justify-between items-center p-1">
        <div class="ml-3 font-bold">
            <h2>Emri projektit</h2>
        </div>
        <div class="flex w-[50%] justify-evenly">
            <h2>Pershkrimi i projektit </h2>
            <h2>Perditesimi i fundit </h2>
        </div>
    </div>
    <div class="h-[400px] overflow-y-scroll	">
        {% for project in projects %}
        <div class="w-[100%] h-[50px] text-white hover:bg-gray-400 bg-gray-600 flex justify-between items-center p-1">
            <div class="ml-3 font-bold">
                <h2><a href="{% url 'project_details' project.id %}">{{project.name}}</a></h2>
            </div>
            <div class="flex w-[50%] justify-evenly">
                <h2 class="w-[150px] overflow-hidden whitespace-nowrap">{{project.description}}</h2>
                <h2>{{project.updated_at}}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
    <button
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
        <a href="{% url 'create_project' %}">Create project</a>
    </button>
</div>
{% endblock %}