{% extends 'core/base.html' %}

{% block content %}
<div class="w-[90%] pl-[20%] pt-5 h-[50%]">
    <h1 class="font-bold text-black text-[30px] mb-5 text-center">{{selected_project.name}}</h1>
    <h1 class="text-center text-black h-[50%]">{{selected_project.description}}</h1>

    <div class="flex justify-between">
        <h3 class="font-bold text-[20px] mb-5 text-black" >{{selected_project.created_at}}</h3>
        <h3 class="font-bold text-[20px] mb-5 text-black">{{selected_project.created_by}}</h3>
        
        <div class="flex w-full justify-evenly">
            {% for projectfile in selected_project.files.all %}
            <div class="flex justify-center items-center px-3  h-[50px] bg-gray-500 rounded-lg">
                <h3 class="text-l">{{ projectfile.name }}</h3>
                <a href="{{ projectfile.attachment.url }}" target="_blank" class="text-sm text-black">
                    <img width="40px" src="https://cdn.iconscout.com/icon/free/png-256/free-download-1767976-1502312.png">
                </a>
                <br>
                <a href="{% url 'delete_file' selected_project.id projectfile.id %}" class="text-red-700">
                    <button class="text-white bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                        Delete
                    </button>
                </a>
        </div>
            {% endfor %}
        </div>
    </div>

    <div class="flex justify-between">
        <div class="w-[100%] flex justify-start">
            <a style="margin-right:20px" href="{% url 'create_task' selected_project.id %}">
                <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Create task
                </button>
            </a>
            <a style="margin-right:20px" href="{% url 'tasks' selected_project.id %}">
                <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Tasks
                </button>
            </a>
            <a href="{% url 'upload_file' selected_project.id %}">
                <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Upload File
                </button>        
            </a>
            <a href="{% url 'projects' %}">
                <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Project list
                </button>
            </a>
        </div>
        <div class="w-[100%] flex justify-end">
            <a href="{% url 'project_delete' selected_project.id %}">
                <button class="text-white bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Delete
                </button>
            </a>
            <a href="{% url 'project_edit' selected_project.id %}">
                <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Edit
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}

