{% extends 'core/base.html' %}

{% block content %}
<div class="w-[90%] pl-[20%] pt-5 h-[50%]">
    <a href="{{request.META.HTTP_REFERER|escape}}">
        <button
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
            Back
        </button>
    </a>
    <div class="max-w-xl mx-auto py-8 bg-gray-600 text-center">

        {% if object_edited %}
        <h1 class="p-3 bg-green-300 text-[25px] font-bold mb-5">Project was updated successfully</h1>
        {% endif %}

        <h1 class="text-3xl text-white">Editing {{ selected_project.name }} project</h1>

        <form class="mt-6 px-8 space-y-4" method="post" action="{% url 'project_edit' selected_project.id %}">
            {% csrf_token %}

            <div>
                <label class="text-white text-[25px]">Title</label><br>
                <input name="title" type="text" value="{{selected_project.name}}"
                    class="w-full py-4 px-6 bg-gray-500 text-white">
            </div>

            <div>
                <label class="text-white text-[25px]">Description</label><br>
                <input name="description" type="text" value="{{selected_project.description}}"
                    class="w-full py-4 px-6 bg-gray-500 text-white">
            </div>

            <div>
                <button
                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}